{% extends "layout.html" %}

{% block pageTitle %}
  Benefits and grants
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Benefits and grants
    </h1>

    <p>
      Financial support awarded and discharged by DWP.
    </p>

    <p>
      Benefits and tax credits are payments from the government to certain people on low incomes, or to meet specific needs.
    </p>

    <p>
      They can help you if you:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>are on a low income</li>
      <li>are out of work</li>
      <li>have children</li>
      <li>are pregnant</li>
      <li>are sick or disabled</li>
      <li>have been bereaved</li>
      <li>are a carer</li>
    </ul>

    <h2 class="govuk-heading-m">
      Health related benefits and grants
    <h2>

    <p>
      Benefits available for those with a health condition, or who care for a dependent that has a health condition, include:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Personal Independence Payment (PIP)</li>
      <li>Employment Support Allowance (ESA)</li>
      <li>Attendance Allowance</li>
      <li>Disability Living Allowance</li>
      <li>Carer's Allowance</li>
      <li>Access to Work (AtW)</li>
    </ul>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/benefits-and-grants.png" alt="An image showing the different health-related benefits and grants provided by DWP, alongside some of the non-health benefits live Universal Credit and Jobseekers Allowance.">
  </div>
</div>

{% endblock %}
