{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Business capabilities
    </h1>

    <p>

    </p>

    <p>

    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/business-capabilities.jpeg" alt="An image showing examples of business capabilities." width= "100%">
  </div>
</div>

{% endblock %}
