{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Channels
    </h1>

    <p>
      Channels are the various ways actors can interact with the service, such as:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>phone</li>
      <li>webchat</li>
      <li>text phone</li>
      <li>Relay UK</li>
      <li>Video Relay UK</li>
      <li>video</li>
      <li>face to face</li>
      <li>letter</li>
      <li>email</li>
    </ul>

    <p>
       During their journey, a user may interact with an organisation several times using several different channels
    </p>



  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/channels.png" alt="An image showing the difference channels that actors can use when interacting with a DWP service." width="100%">
  <div>
</div>

{% endblock %}
