{% extends "layout.html" %}

{% block pageTitle %}
  Service
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Service
    </h1>

    <p>
      A service helps users to do something. Public services exist because of underlying citizen needs, policy intent, user needs and the strategy of a particular organisation. Services help government achieve policy intent on behalf of its citizens, with whom it has a social contract. Services are best identified as verbs rather than nouns.
    </p>

    <p>
      A service helps someone achieve a goal. A whole end-to-end service delivers outcomes for their users - it is everything the user and government needs to do to achieve the outcome.
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/service.png" alt="A woman is explaining how she now needs to care for a family member full time because their health has deteriorated, so she can't work as many hours now.">
  </div>
</div>

{% endblock %}
