{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Teams
    </h1>

    <p>
      How we currently organise our resources, capabilities and capacity.
    </p>

    <h2 class="govuk-heading-m">
      Practice / profession
    </h2>

    <p>
      Leads for each practice / profession responsible for learning and development, quality and standards for practice areas.
    </p>

    <h2 class="govuk-heading-m">
      Strategy teams
    </h2>

    <p>
      Product, data, tech and delivery strategy teams collaborate to ensure that the deliver, data and tech strategies underpin the overarching product strategy.
    </p>

    <h2 class="govuk-heading-m">
      Service design teams
    </h2>

    <p>
      Maintain a single view of their product / theme. Work with other service design teams, strategy teams and product teams to ensure value creation, alignment and inform prioritisation.
    </p>

    <h2 class="govuk-heading-m">
      Product teams
    </h2>

    <p>
      A self-organising team of multi-skilled individuals, working on a problem and delivering a set of outcomes withing the context of the end o end service design.
    </p>

    <h2 class="govuk-heading-m">
      Enabling teams
    </h2>

    <p>
      A group of individual teams (plaform, infrastructure and end to end testing) working in a problem and delivering a set of outcomes to support, facilitate and protect our product teams.
    </p>

    <h2 class="govuk-heading-m">
      Product support teams
    </h2>

    <p>
      Support application users by monitoring system performance via incident, customer contact and monistoring tools to help minimise issues and disruption to business as usual activities.
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/teams.png" alt="An image showing the 6 different types of team." width= "100%">
  </div>
</div>

{% endblock %}
