{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Actors
    </h1>

    <p>
      Actors are the people using or delivering the service.
    </p>

    <p>
      Actors include citizens engaging with a service, people engaging with a service on behalf of another citizen, DWP employees and more.
    </p>

    <p>
      Our services have multiple user groups. We need to design our services to meet the needs of all users - not just Citizen users, but the Agents and Professionals that interact with or help deliver the service to help achieve Citizen outcomes.
    </p>

    <h2 class="govuk-heading-l">
      Examples of actors
    </h2>

    <h3 class="govuk-heading-m">
      Citizen
    <h3>

    <h4 class="govuk-heading-s">
      Acting on their own behalf to engage with DWP services
    <h4>

    <p class="govuk-body">For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>citizen</li>
    </ul>

    <h4 class="govuk-heading-s">
      Acting on behalf of another citizen to engage with DWP services
    <h4>

    <p class="govuk-body">For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>informal acting body</li>
      <li>private acting body</li>
      <li>corporate acting body</li>
    </ul>



    <h3 class="govuk-heading-m">
      Agent
    <h3>

    <h4 class="govuk-heading-s">
      DWP employee or person otherwise authorised to act on behalf of DWP to enable delivery of DWP services
    <h4>

    <p class="govuk-body">For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>telephone agent (DWP)</li>
      <li>case manager (DWP)</li>
      <li>translator (3rd party contractor)</li>
    </ul>

    <h3 class="govuk-heading-m">
      Professional
    <h3>

    <h4 class="govuk-heading-s">
      Someone acting in a professional capacity in support of an outcome
    <h4>

    <p class="govuk-body">For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>medical professional</li>
      <li>law professional</li>
      <li>special educational needs professional</li>
    </ul>



  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/actors.png" alt="An image showing the different examples of actors." width="100%">
  </div>
</div>

{% endblock %}
