{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Application product
    </h1>

    <p>
      A group of technical components that combine to support the delivery of a service or services.
    </p>

    <h2 class="govuk-heading-m">
      Service application products
    </h2>
    <p>
      For example:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Service Signposting</li>
      <li>Service Citizen Attributes</li>
      <li>Service Payments</li>
    </ul>
    <p>
      Whilst the strategic aim is to consilidate similar application products into as few implementations as possible it is recognised that services will need to tailor individual application producs to deliver specific legislative and policy driven user journeys.
    </p>

    <h2 class="govuk-heading-m">
      Enterprise application products
    </h2>
    <p>
      For example:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>DWP Appointments</li>
      <li>DWP Identity</li>
      <li>DWP Accounting</li>
    </ul>
    <p>
      There are a core set of business capabilities that have been identified as candidates to be udnerpinned by a consolidated suite of reusable, easily consumaple enterprise application products.
    </p>

    <h2 class="govuk-heading-m">
      3rd party application products
    </h2>
    <p>
      For example:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>GOV.UK Notify</li>
      <li>HMRC Earnings</li>
      <li>banking system providers</li>
    </ul>
    <p>
      There are a number of application products that DWP wouldn't propose to build, customise or configure for consumption. These application products will typlically be 'software as a service' (SaaS) offerings that we will procure and expose as enterprise offerings via the DWP API gateway.
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/application-product.png" alt="An image showing examples of business capabilities." width= "100%">
  </div>
</div>


{% endblock %}
