{% extends "layout.html" %}

{% block pageTitle %}
  Life event
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Life event
    </h1>

    <p>
      A Life Event is a specific event in a person’s life – this can be long-term or short term, positive or negative. These are trigger points for a user journey or the underlying problem that someone is trying to solve. They are the reason that people interact with or contact your organisation.
    </p>

    <p>
      Examples within DWP Health include losing a job, entering retirement or ill health.
    </p>

    <p>
      Life events are an approach to designing services to meet people’s needs. It will help you understand the context, circumstances and what people do, think and feel in different situations.
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/life-event.png" alt="A woman is explaining how she now needs to care for a family member full time because their health has deteriorated. A man says that his mental health condition has got worse and he is now struggling with everyday tasks. A caption says that both of these people might benefit from services delivered by DWP Health." width="100%">
  </div>
</div>

{% endblock %}
