{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href="../index" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      User journey
    </h1>

    <p>
      A User Journey can be described by the citizen’s experience throughout the end-to-end service from their point of view. The narrative includes what users are doing, thinking, feeling and what they are interacting with along the way.
    </p>

    <p>
      Mapping user journeys help you see and evaluate the experience is having from their point of view. From here you can surface and unpack the impact the organisation has on this journey.
    </p>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <img src="/public/images/user-journey.png" alt="A visualisation of a user journey. It shows where DWP are involved in the journey, but also that the journey starts before DWP involvment and continues after it. The citizen becomes unwell and is diagnosed with stage 3 bowel cancer. They have over 100 hostpital appointments in 18 months. DWP become involved in the user journey with the citizen decides to claim for benefit, but receive conflivting information about whar is available. An adviser completes an application while they are on hospital. They are awarded the standard rate for Personal Independence Payment (PIP), but decide to appeal. They are successful and receive more money. DWP involvement in the user journey ends here, but the citizen's own journey continues. They need money to pay their bills, the are trying to stay as healthy as they can and they want their life to be how it was before they got cancer." width="100%">
  </div>
</div>

{% endblock %}
