{% extends "dwp-layout-big-bar.html" %}

{% block hero_content %}
  <h1 class="govuk-heading-xl no-margin">How we communicate</h1>
  <p class="big-bar__description">The language we use in DWP Health to talk with our teams, our stakeholders and our external users.</p>

  <p class="big-bar__description">
    <!-- <a href="principles">See our user centred design principles</a> -->
  </p>

{% endblock %}

{% block content %}

<main id="content" role="main">

 <div class="govuk-grid-row">

 <div class="govuk-grid-column-one-third">
   <h2 class="heading-medium">
     <a href="../taxonomy-v1/">Our internal language</a>
   </h2>
   <p class="govuk-body">The terms and language we use within DWP Health to communicate between ourselves and with our internal DWP stakeholders.
   </p>
 </div>

 <div class="govuk-grid-column-one-third">
   <h2 class="heading-medium">
   <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/132411130630/Glossary+of+terms+Digital+Health+and+Disability">Acronyms</a>
   </h2>
   <p class="govuk-body">A guide to the acronyms commonly encountered in DWP Health.</p>
 </div>

 <div class="govuk-grid-column-one-third">
   <h2 class="heading-medium">
   <a href="https://dwpdigital.atlassian.net/wiki/spaces/HPDU/pages/132564813711/Health+terminology+A+to+Z">Our external language</a>
   </h2>
   <p class="govuk-body">The language we use in our citizen-facing services and when communicating with citizens.</p>
 </div>

</div>

{% endblock %}
