
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        The language we use when communicating within DWP
      </h1>

      <p>
        The terms and language we use within DWP Health to communicate between ourselves and with our internal DWP stakeholders.
      </p>

      <ul class="govuk-list">
        <li>
          <a href="taxonomy/terms/life-event">Life event</a><br>
          <span class="govuk-hint">A specific event in a person's life - can be long-term of short-term - these are the trigger points for someone looking for a service.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/service">Service</a><br>
          <span class="govuk-hint">A service helps someone do something (achieve a goal). A whole end-to-end serice delivers outcomes for its users.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/benefits-and-grants">Benefits and grants</a><br>
          <span class="govuk-hint">Financial support awarded and discharged by DWP to certain people on low incomes or to meet specific needs.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/actors">Actors</a><br>
          <span class="govuk-hint">People using or delivering the service.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/user-journey">User journey</a><br>
          <span class="govuk-hint">Describes the user's experience throughout the end-to-end service, and beyond.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/channels">Channels</a><br>
          <span class="govuk-hint">How actors interact with the service.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/service-phases">Service phases</a><br>
          <span class="govuk-hint">We can break services into key phases of the overall process.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/business-capabilities">Business capabilities</a><br>
          <span class="govuk-hint">The ability or capacity required by the business to fulfill the activities needed to support our service.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/teams">Teams</a><br>
          <span class="govuk-hint">How we organise our resources and capacity.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/application-product">Application product</a><br>
          <span class="govuk-hint">A group of technical components that coming to support the delivery of a service or services.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/technology">Technology</a><br>
          <span class="govuk-hint">Digital platforms, products, hardware, application software - things we build, maintain and buy.</span>
        </li>
        <br>
        <li>
          <a href="taxonomy/terms/data">Data</a><br>
          <span class="govuk-hint">The actual information that's either generated by or used to carry our activities and services.</span>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
