{% extends "dwp-layout-big-bar.html" %}

{% block hero_content %}
  <h1 class="govuk-heading-xl no-margin">DWP Health Manual</h1>
  <p class="big-bar__description">We deliver consistent, usable Health and Disability services that put people first.</p>

  <p class="big-bar__description">
    <!-- <a href="principles">See our user centred design principles</a> -->
  </p>

{% endblock %}

{% block content %}

 <main id="content" role="main">

  <div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
      <a href="how-we-communicate">How we communicate</a>
    </h2>
    <p class="govuk-body">The language we use in DWP Health to talk with our teams, our stakeholders and our external users.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
    <a href="">Design</a>
    </h2>
    <p class="govuk-body">Design strategy, standards and resources for Interaction and Content Designers.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
      <a href="">Research</a>
    </h2>
    <p class="govuk-body">Research principles, standards, libraries, and resources for User Researchers.</p>
  </div>

</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-small">
      <a href="">Engineering</a>
    </h2>
    <p class="govuk-body">Engineering principles, standards, tools, and resources for Engineering professionals.</p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="heading-medium">
    <a href="">Teams</a>
    </h2>
    <p class="govuk-body">Team makeup, show and tell timetables, documentation, etc.</p>
  </div>

</div>




 </main>

{% endblock %}
